.App {
  display: grid;
  place-items: center;
  background-color: #dadbd3;
  height: 100vh;
}

.app_body {
  display: flex;
  background-color: #5b00fa;
  height: 90vh;
  width: 90vw;
  box-shadow: -3px 6px 30px -6px rgb(30, 3, 187);
}
